* {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* banner */
.banner {
    background-image: url(../images/banner/banner3.png);
    height: 450px;
    text-align: right;
    padding: 180px;
}

.banner-title {
    padding: 20px;
    color: white;
    font-size: 50px;
    padding-right: 0;
}

.banner-description {
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    line-height: 20px;
}

.banner-button {
    color: #304272;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 700;
    margin: 20px 0;
}

/* failures */
.failures {
    display: flex;
    margin: 100px 15%;
}

.about-previous-year {
    margin: auto 0;
    padding-right: 80px;
    padding-left: 50px;
}

.failures-title {
    font-size: 40px;
}

.failures-description {
    font-size: 16px;
    color: #444343;
    margin: 20px 0;
    line-height: 20px;
}

.failures-list {
    font-size: 16px;
    color: #444343;
}

.failures-list p {
    padding: 3px 0;
}

/* My Plans */
.my-plans {
    margin: 40px 15%;
}

.plans-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plans h2 {
    font-size: 30px;
}

.plans p {
    font-size: 22px;
    font-weight: 600;
    color: #444343af;
    padding: 5px 0;
}

.plan {
    text-align: center;
}

.my-plan-banner {
    margin: 100px 0;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-size: cover;
}

.my-plan-banner>div {
    padding: 40px;
}

.my-plan-banner-title {
    color: white;
    font-size: 35px;
}

.my-plan-banner-button {
    color: #304272;
    padding: 15px 25px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
    margin-left: 0;
}

/* footer */
.footer {
    background-color: #151414;
    color: white;
    display: flex;
}

.footer-section h1 {
    font-size: 40px;
}

.footer-section p {
    font-size: 16px;
    font-weight: 300;
}

.footer-section {
    width: 50%;
    padding: 100px 200px;
}

.social a {
    padding-right: 10px;
}

.footer-section-form label {
    font-size: 22px;
    font-weight: 600;
}

#subscribe {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #151414;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}

#subscribe-button {
    color: white;
    font-size: 20px;
    margin-top: 15px;
    padding: 15px 28px;
    border-radius: 5px;
    border: none;
    background-color: #005FAC;
}